<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
       <h1>The Tech Blog</h1>
      <nav style="display: flex; align-items:baseline;">
        <!-- Conditionally render login or logout links -->
        {{!-- / means home page --}}
        <a href="/" style="margin-left: 1rem;">Home</a> 
        <a href="/dashboard" style="margin-left: 1rem;">Dashboard</a> 
        {{#if logged_in}}
        <button class="no-button" id="logout" style="margin-left: 1rem;">logout</button>
        <div style="flex: 1; margin-left: 1rem;">Logged in as: {{username}}</div>
        {{else}}
        <a href="/login" style="margin-left: 1rem;">Login</a>
        {{/if}}
      </nav>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
