<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      An error occured:
    </h2>
    <p>
      {{text}}
    </p>
  </div>

</div>
